<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktivierung Zählpunkt</title>
</head>
<body>
<p>Servus {{.FirstName}},</p>

<p>recht lieben Dank für die Anmeldung! Du musst jetzt abschließend noch die Aktivierung bei der Netz OÖ durchführen. Im Menü Datenfreigabe sollte die EEG bereits angeführt sein und Du musst den offenen Zählpunkt anhakerln.</p>
<br>

<ol>
  <li>
    <p>
      Registrieren und/oder anmelden unter <a href="https://eservice.netzooe.at/app/login">https://eservice.netzooe.at/app/login</a> (im Falle der Registrierung bekommst Du mit der Post auch noch einen Code geschickt mit dem Du die Registrierung abschließen musst. Die unter Punkt 2 angeführt Zustimmung zur EEG kannst Du aber ohne Code sofort durchführen)
    </p>
  </li>
  <li>
    <p>
      Menü "Datenfreigabe" anwählen und rechts die Hakerl bei EEG VIERE anwählen
    </p>
    <img src="cid:aktivierungsmail-menu-1">
  </li>
  <li>
    <p>
      Anmeldung EEG VIERE und Energiedaten - 1/4h - täglich aktivieren
    </p>
    <img src="cid:aktivierungsmail-menu-2">
  </li>

</ol>
<p>Mit besten Grüßen</p>
<p>
<div>HARALD GEISSLER</div>
<div>0664 / 84 11 764</div>
</p>
<div>Erneuerbare Energie Gemeinschaft - VIERE</div>
<div>Verein zur innovativen Entwicklung regionaler EEGs in Waizenkirchen</div>

<img src="cid:logo-1">

<p><a href="www.eeg-viere.net"><strong>www.eeg-viere.net</strong></a></p>
<p><a href="http://www.eeg-grossraming.at/Forum/"><strong>http://www.eeg-grossraming.at/Forum/</strong></a></p>

</body>
</html>