<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" style="display:none;"> P {margin-top:0;margin-bottom:0;} </style>
</head>
<body dir="ltr">

<p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;">&nbsp;</p>
<p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;">&nbsp;</p>
<div align="center">
  <table style="border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
    <tbody>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    <tr>
      <td style="padding: 0cm;">
        <div align="center">
          <table style="width: 100%; min-width: 20px; border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
            <tbody>
            <tr>
              <td style="padding: 0cm; width: 450pt;">
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="padding: 0cm; vertical-align: top;"></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    <tr>
      <td style="padding: 0cm;">
        <div align="center">
          <table style="width: 100%; min-width: 5px; border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
            <tbody>
            <tr>
              <td style="padding: 0cm; vertical-align: top; width: 450pt;">
                <p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;">&nbsp;</p>
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="padding: 7.5pt; vertical-align: top;">
                      <p style="line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%;">Hallo {{.Participant.FirstName}}</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;"><br>
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%;">Damit</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;">
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%;">du</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;">&nbsp;wirklich
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%;">Teil der EEG {{.Eeg.Name}} wirst</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;">, ist noch ein letzter Schritt nötig!</span></p>
                      <p style="line-height: 125%;"><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: black;">Wir benötigen
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%;">bitte
</span><span style="font-family: Verdana, sans-serif;"><b>die</b></span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: black;"><b>&nbsp;persönliche Zustimmung</b>&nbsp;im
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: rgb(0, 123, 142);"><u><a href="https://portal.salzburgnetz.at/" data-auth="NotApplicable" style="margin-top: 0px; margin-bottom: 0px; color: rgb(0, 123, 142);" id="OWA6123733c-85b6-7bd2-3abf-bc8b3add0f19" class="OWAAutoLink" data-loopstyle="linkonly">Portal
 der Salzburg Netz GmbH</a></u></span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: black;">&nbsp;ab heute
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%;">bzw.
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: black;">innerhalb von 10 Arbeitstagen. Das geht ganz einfach mit
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%;">untenstehender</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 125%; color: black;">&nbsp;Anleitung:</span></p>
                      <p><span style="font-size: 10.5pt; color: black;">&nbsp;</span></p>
                      <p style="line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;"><b>Schritt für Schritt:</b></span></p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    </tbody>
  </table>
</div>
<p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;"><span style="font-size: 10.5pt; color: black;">&nbsp;</span></p>
<div align="center">
  <table style="border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
    <tbody>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    <tr>
      <td style="padding: 0cm;">
        <div align="center">
          <table style="width: 100%; min-width: 5px; border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
            <tbody>
            <tr>
              <td style="padding: 0cm; vertical-align: top; width: 450pt;">
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="padding: 7.5pt; vertical-align: top;">
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">1.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Gehen Sie auf die Homepage Ihres Netzbetreibers, der Salzburg Netz GmbH:
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: rgb(0, 123, 142);"><u><a href="https://www.salzburgnetz.at/" data-auth="NotApplicable" style="margin-top: 0px; margin-bottom: 0px; color: rgb(0, 123, 142);" id="OWA0035cee1-94b7-58c3-2209-2d3aa4f52c26" class="OWAAutoLink" data-loopstyle="linkonly">https://www.salzburgnetz.at/</a></u></span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">2.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Klicken Sie auf &quot;LOGIN&quot; rechts oben. Danach werden Sie aufgefordert, sich im Portal anzumelden</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">.</span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">3.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Sie haben bereits ein Kundenkonto im Salzburg Netz Portal – Halten Sie hierfür Ihre Anmeldedaten (E-Mail-Adresse &amp; Kennwort) bereit.</span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">4.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Falls Sie noch kein Kundenkonto bei Ihrem Netzbetreiber haben, so registrieren Sie sich neu.</span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">5.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Klicken Sie auf den Punkt &quot;DATENFREIGABE&quot; rechts oben - siehe untenstehendes Bild:
<img id="x__x0000_i1030" style="width: 6.0416in; height: 1.2416in; margin-top: 0px; margin-bottom: 0px;" src="cid:aktivierungsmail-menu-1"></span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">6.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Nun sehen Sie eine Übersicht Ihrer Datenanfragen und
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">-</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">freigaben</span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">7.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Wählen Sie „Zu bestätigen“ links oben aus und klicken Sie anschließend auf den grauen Button „bestätigen“. Sie können hier bereits die zu bestätigende</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">n</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">&nbsp;Unterlagen
 herunterladen und durchlesen.<br>
<img id="x__x0000_i1029" style="width: 6.0416in; height: 4.3333in; margin-top: 0px; margin-bottom: 0px;" src="cid:aktivierungsmail-menu-2"></span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">8.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">In Ihrer Übersicht „Datenanfragen und -freigaben“ hat sich der Status
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">nun </span>
                        <span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">auf „BESTÄTIGT“ geändert. Auch hier haben Sie jederzeit</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">die Möglichkeit</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">,
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">die
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">gerade bestätigten
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Vertragsunterlagen</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">&nbsp;nochmals
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">herunterzuladen.<br>
<img id="x__x0000_i1028" style="width: 6.05in; height: 1.9416in; margin-top: 0px; margin-bottom: 0px;" src="cid:aktivierungsmail-menu-3"></span></p>
                      <p style="margin-left: 66pt;"><span style="font-size: 10.5pt; color: black;">9.</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 7pt; color: black;">&nbsp;&nbsp;
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">Fertig –
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt;">v</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; color: black;">ielen Dank!&nbsp;</span></p>
                      <p style="line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;">Falls Sie es nicht schaffen, innerhalb von 10 Arbeitstagen im Portal zuzustimmen, so melden Sie sich bei uns. Wir unterstützen Sie
 gerne</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%;">!
</span><span style="font-family: Arial, sans-serif; font-size: 10.5pt; line-height: 150%; color: black;">&nbsp;</span></p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    <tr>
      <td style="padding: 0cm;"></td>
    </tr>
    </tbody>
  </table>
</div>
<table style="min-width: 5px; border-collapse: collapse; border-spacing: 0px; box-sizing: border-box;">
  <tbody>
  <tr>
    <td style="padding: 0cm; vertical-align: top; width: 105pt;">
      <p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;"><span style="color: rgb(25, 148, 181);"><img alt="logo ösb" id="x__x0000_i1027" style="width: 1.4583in; height: 1.15in; margin-top: 0px; margin-bottom: 0px;" src="https://www.aee-salzburg.at/images/oekostromboerse.gif"></span></p>
    </td>
    <td style="padding: 0cm; vertical-align: top; width: 230.25pt;">
      <p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;"><span style="color: black;">Erik Schnaitl</span><span style="color: rgb(25, 148, 181);"><br>
<br>
</span><span style="color: black;"><b>Ökostrombörse Salzburg</b></span><span style="color: rgb(25, 148, 181);"><br>
Auerspergstr. 20/4<br>
5020 Salzburg<br>
+43&nbsp;681 81149248<br>
<a href="https://www.oekostromboerse.at/" data-auth="NotApplicable" style="margin-top: 0px; margin-bottom: 0px; color: rgb(25, 148, 181);" id="OWA54ee0300-11d7-9bba-7720-4268b838fb87" class="OWAAutoLink" data-loopstyle="linkonly">www.oekostromboerse.at</a></span></p>
    </td>
  </tr>
  </tbody>
</table>
<p style="margin: 0cm; font-family: Verdana, sans-serif; font-size: 11pt;"><span style="font-family: Calibri, sans-serif;">&nbsp;</span></p>
</body>
</html>