<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body style="overflow-wrap: break-word; -webkit-nbsp-mode: space; line-break: after-white-space;">
<div>
    <div>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <div style="overflow-wrap: break-word; -webkit-nbsp-mode: space; line-break: after-white-space;">Sehr geehrte
            Damen und Herren, &nbsp;<div>
                <div>
                    <br>
                </div>
                <div>Vielen Dank für die Übermittlung der Beitrittserklärung und der
                    Energiebezugs-/Energieliefervereinbarung. Herzlich willkommen bei der STERN-EEG!
                </div>
                <div>
                    <div>
                        <br>
                    </div>
                    <div>Ich habe Ihre Zählpunkte soeben angelegt. Es ist nunmehr lediglich der Abschluss der
                        (kostenfreien) Zusatzvereinbarung zum bestehenden Netzzugangsvertrag mit der Netz OÖ GmbH&nbsp;erforderlich.
                        Eine diesbezügliche Anleitung für den jeweiligen Zählpunkt ist angeschlossen und
                        bitte ich um Vornahme der genannten Schritte. Ab Aktivierung nehmen Sie aktiv an der STERN-EEG
                        eGen teil.&nbsp;
                    </div>
                    <div>
                        <div>
                            <div>
                                <br>Eine sonstige Benachrichtigung des Abnehmers bzw Versorgers ist nicht erforderlich.
                                Die Abbuchung der Beitrittsgebühr sowie des Beitrags zum Geschäftsanteil wird
                                demnächst vorgenommen. Die Vertragsunterlagen werden in der nächsten Vorstandssitzung (Ende September)
                                gegengezeichnet und im Anschluss zur weiteren Verwendung übermittelt.&nbsp;
                            </div>
                            <div>
                                <br>
                            </div>
                            <div>Bei Rückfragen stehe ich gerne zur Verfügung.&nbsp;</div>
                            <div><br></div>
                        </div>
                        <div>Viele Grüße,&nbsp;</div>
                    </div>
                </div>
                <div>Benjamin Reichl</div>
            </div>
            <div>
                <h6 style="caret-color: rgb(0, 0, 0); font-size: 12px;">
                    <table class="MsoTableGrid" border="0" cellspacing="0" cellpadding="0" width="441"
                           style="width: 331.1pt; border: none;">
                        <tbody>
                        <tr style="height: 56.65pt;">
                            <td width="89" valign="top"
                                style="width: 66.7pt; border-top: none; border-bottom: none; border-left: none; border-image: initial; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 56.65pt;">
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <img src="cid:logo-1" data-filename="STERN-EEG_Kopfzeile.png" style="font-size: 12pt; background-color: transparent; width: 108.609px; height: 108.609px;">
                                    <br>
                                </div>
                            </td>
                            <td width="353" valign="top" style="width: 264.4pt; border: none; padding: 0 5.4pt; height: 56.65pt;">
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <b style="background-color: transparent; ">
                                        <span style="font-size: 9pt; color: rgb(40, 51, 126);">Benjamin Reichl, LL.M. (WU)</span>
                                    </b>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <span style="font-size: 8pt;">Obmann</span>
                                    <span lang="DE" style="font-size: 8pt;"></span>
                                </div>
                                <p class="MsoNormal"
                                   style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <span lang="DE" style="font-size: 4pt;"><font face="Verdana">&nbsp;</font></span>
                                </p>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <b style="font-size: 12pt; background-color: transparent;">
                    <span lang="DE" style="font-size: 9pt; color: rgb(40, 51, 126);">
                        <font face="Verdana">STERN-EEG eGen</font>
                    </span>
                                    </b>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <font face="Verdana">
                                        <span style="font-size: 8pt; background-color: transparent;">Sternwald 5</span>
                                        <br>
                                    </font>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                <span lang="EN-US" style="font-size: 8pt;">
                    <font face="Verdana">4191 Vorderweißenbach</font>
                </span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                <span lang="EN-US" style="font-size: 8pt;">
                    <font face="Verdana"><br></font>
                </span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                <span lang="EN-US" style="font-size: 8pt;">
                    <font face="Verdana">Mobile: +43 680 32 87 999</font>
                </span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                <span lang="EN-US" style="font-size: 8pt;">
                    <font face="Verdana">Web: www.stern-eeg.at</font>
                </span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <span style="font-family: Verdana; font-size: 8pt; background-color: transparent;">Genossenschaft mit beschränkter Haftung</span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <span style="font-family: Verdana; font-size: 8pt; background-color: transparent;">Firmenbuchnummer: FN607818a</span>
                                </div>
                                <div style="margin: 0 0 0.0001pt; font-size: 12pt; font-family: Calibri, sans-serif;">
                                    <span style="font-family: Verdana; font-size: 8pt; background-color: transparent;">Landesgericht Linz</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>