<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" style="display:none;"> P {margin-top:0;margin-bottom:0;} </style>
</head>
<body dir="ltr">
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">Liebe Mitglieder der EEG St.Florian &amp; Nachbargemeinden,</span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt"><br>
    </span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt;">
    Ich darf Ihnen hiermit mitteilen, dass wir Sie erfolgreich bei uns registrieren konnten.</span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">
    Ein letzter Schritt ist noch erforderlich:<br>
    Videoanleitung: <a href="https://www.youtube.com/watch?v=yR8Bgf56rNk" id="OWA5bd48a2b-81e0-0338-d18f-2f4c31144d23" data-auth="NotApplicable" data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">
        https://www.youtube.com/watch?v=yR8Bgf56rNk
    </a>
    </span>
</p>
<br>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">
    Sie haben dafür ab diesem Stichtag 14 Tage Zeit, die Freigabe zu bestaetigen! (Danach verfällt der Link beim Netzbetreiber)
</span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">
    <br>
</span></p>
<p style="text-align: justify;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">
    Bitte speichern Sie sich folgende Adressen in ihrem Mailprogramm ein:<br>
    <a href="mailto:online@eeg-stflorian.at" class="OWAAutoLink" title="online@eeg-stflorian.at" data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">online@eeg-stflorian.at</a>&nbsp;(Kontakt zur EEG)<br>
    <a href="mailto:news@eeg-stflorian.at" class="OWAAutoLink" data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">news@eeg-stflorian.at</a>&nbsp;(Allgemeine Infos, Newsletter)<br>
    <a href="mailto:no-reply@eegfaktura.at" class="OWAAutoLink" title="no-reply@eegfaktura.at" data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">no-reply@eegfaktura.at</a> (Rechnungen & Gutschriften)<br>
    </span>
</p>
<p style="text-align: justify;"><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt">&nbsp;</span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt;">
    Abschließend bedanke ich mich für Ihr Vertrauen in unseren gemeinnützigen Verein, sowie unsere Vision und verbleibe mit sonnigen Grüßen,
    <br>
    <br>Gregor Hirscher, LLM<br>
    Geschäftsführung EEG St.Florian</span></p>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt;">
    gregor.hirscher@eeg-stflorian.at<br>
    +43 677 61458762<br>
    </span></p>
<br>
<p><span style="font-family: Verdana, Geneva, sans-serif; font-size: 10pt;">
    <strong>Erneuerbare Energiegemeinschaft St. Florian</strong><br>
    Gemeinnütziger Verein - ZVR 176739038<br>
    Linzerstraße 26<br>
    4490 St. Florian<br>
    <a href="mailto:online@eeg-stflorian.at" class="OWAAutoLink" data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">online@eeg-stflorian.at</a><br>
    <br>
    Webseite - <a href="https://eeg-stflorian.jimdofree.com/" id="OWAf90744b3-c086-3851-3626-9ebcedc5ee90" class="OWAAutoLink" data-auth="NotApplicable" data-loopstyle="linkonly"
       style="margin-top: 0px; margin-bottom: 0px;">
        https://eeg-stflorian.jimdofree.com/
    </a><br>
    Cities - <a href="https://citiesapps.com/pages/erneuerbare-energiegemeinschaft-stflorian/" class="OWAAutoLink" data-auth="NotApplicable" data-loopstyle="linkonly"
                  style="margin-top: 0px; margin-bottom: 0px;">
        https://citiesapps.com/pages/erneuerbare-energiegemeinschaft-stflorian/
    </a><br>
    Facebook - <a href="https://www.facebook.com/profile.php?id=3D100092747569956" id="OWA65ff5825-9b1f-d3aa-06b5-f9b4610a0ff1" class="OWAAutoLink" data-auth="NotApplicable"
       data-loopstyle="linkonly" style="margin-top: 0px; margin-bottom: 0px;">
        https://www.facebook.com/profile.php?id=3D100092747569956</a><br>
    Youtube - <a href="https://www.youtube.com/@SogehtEEG" class="OWAAutoLink" data-auth="NotApplicable" data-loopstyle="linkonly"
                style="margin-top: 0px; margin-bottom: 0px;">
        https://www.youtube.com/@SogehtEEG
    </a><br>
</span></p>

</body>
</html>